# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/
*.log
.env

# Git ignore migrations
*/migrations/*.py[cod]

# Virtual environment
venv/
myvenv/
ENV/
env/
